<html>
<body>

<div style="width:100%;">
<div style="width: 80%;margin: 0 auto;">
<img src="assets/images/logo.png">
<br>
<h1 style="color: #454545;width: 60%;font-family: arial;font-size: 35px;">One short step to reset your password</h1>
<br>
<h4 style="width:70%;color: #454545;font-family: arial;letter-spacing: 1px;font-size: 25px;">We will help you to quickly restore your password. Just Click on the button below and follow simple instructions</h4>
<br>
<input type="button" value="RESET PASSWORD" style="text-align: center;background-color: #0dae04;color: #fff;padding: 10px;width:280px;border-radius:20px;font-weight: bold;font-size:20px;border:none;outline: none;font-family: arial;">

</div>


</body>
</html>